@use '@/styles/variables' as *;

.internet-explorer-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  .ie-header {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 99.5%;
  }

  .ie-webview {
    background: #ffffff;
    flex-grow: 1;
    width: 100%;
    border: none;
  }

  .ie-home-page {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;

    .project-item {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: center;
      justify-content: flex-end;
      background: white;
      padding: 1em;
      min-height: 9em;
      min-width: 9em;
      border-radius: 0.5em;
      border: 1px solid transparent;
      cursor: pointer;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        filter: saturate(1.25) brightness(1.25);
        border: 1px solid #9cb6ce;
      }
    }

    span {
      font-size: 1.25em;
      font-weight: bold;
      word-wrap: break-word;
      text-align: center;
      background: white;
    }
  }
}
