.media-center-image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .media-center-image-canvas {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;

    .media-center-image-loader-overlay {
      position: absolute;
      height: 90%;
    }

    .media-center-image-error-message {
      height: 100%;
    }

    .media-center-image-loader-overlay,
    .media-center-image-error-message {
      align-items: center;
      display: flex;
      font-size: 1.5em;
      justify-content: center;
      width: 100%;
    }

    img.media-center-image-main-image {
      flex: 1;
      max-height: 100%;
      object-fit: contain;

      &.hidden {
        display: none;
      }
    }
  }

  .media-center-image-footer-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 767px) {
      padding-bottom: 0.5em;
    }

    .media-center-image-footer {
      align-items: center;
      border-radius: 10em;
      border: 2px solid #ccc;
      display: flex;
      gap: 2em;
      justify-content: center;
      margin-top: 1em;
      padding: 0 3em;
      width: fit-content;

      @media (max-width: 767px) {
        gap: 0.5em;
        padding: 0.25em 1em;
        margin-top: 0.5em;
        background: rgba(255, 255, 255, 0.9);
        border-color: #bbb;
      }

      .media-center-image-footer-player-container {
        align-items: center;
        display: flex;
        gap: 0.15em;
        justify-content: center;
      }

      .media-center-image-footer-icon {
        height: 1.5em;
        width: auto;

        &:hover {
          cursor: pointer;
          filter: brightness(1.15);
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      .media-center-image-footer-player-icon {
        height: 1.5em;
        width: auto;

        &:hover {
          cursor: pointer;
          filter: brightness(1.15);
        }

        &:not(.main) {
          background: linear-gradient(180deg, rgba(217, 229, 241, 0.5) 32%, rgba(164, 180, 197, 0.5) 43%);
          &:first-of-type {
            border-radius: 2em 0 0 2em;
          }
          &:last-of-type {
            border-radius: 0 2em 2em 0;
          }
          padding: 0.25em 1.5em;

          @media (max-width: 767px) {
            padding: 0.25em 1em;
            height: 1.25em;
          }
        }
      }

      .media-center-image-footer-player-icon.main {
        height: 2.5em;
        width: auto;

        @media (max-width: 767px) {
          height: 2em;
        }
      }

      .vertical-line {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
